/* ------------------------------------ *\
    #PROJECT
\* ------------------------------------ */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.o-project {
    margin-bottom: spacer(1);

    @include media('sm') {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: spacer(3);
        grid-gap: 40px;
    }
}


.o-project__content {
    position: relative;
}

.o-project__aside {
    @include media('sm') {
        position: relative;
    }
}


.o-project__sticky {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    animation: fadeIn 0.75s forwards;

    @include media('sm') {
        padding-top: 5vh;
    }
}
